{% load static %}<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Image Background Remover</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header>
        <div class="top-nav" style="text-align: left;">
            <nav>
                <a class="logo" href="#home">removebg</a>
                <a href="#removebg">背景削除</a>
                <a href="#grayscale">グレースケール化</a>
                <a href="#binarize">白黒化(二値化)</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="removebackground">
            <h1>写真・画像の背景を一括で消去</h1>
            <p>100%自動かつ無料</p>
            {% comment %} <button id="upload_button" class="upload_btn">画像アップロード</button> {% endcomment %}
            <div id="drop_zone">
                画像をドラッグ＆ドロップ<br>
                または<br>
                クリックで画像選択
            </div>
            <input type="file" id="file_input" style="display: none;" />
            <img id="output_image" style="display:none;">
            <button id="removebg_button" class="removebg_btn" style="display:none;">背景削除</button>
            <button id="download_button" class="download_btn" style="display:none;">ダウンロード</button>
            <button id="cancel_button" class="cancel_btn" style="display:none;">リセット</button>
            <script src="{% static 'script.js' %}"></script>
        </section>
    </main>

</body>

</html>