{% load static %}
<!DOCTYPE html>
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <title>Image Background Remover</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <header>
        <div class="tab">
            <nav>
                <a href="#home" data-target="home" class="tab-logo">
                    <img src="{% static 'image/logo.png' %}" alt="Ostagram">
                </a>
            </nav>
            <nav>
                <a href="#upscale"  data-target="upscale"  class="tab-left">高画質化</a>
                <a href="#removebg" data-target="removebg" class="tab-left">背景削除</a>
                <a href="#about"    data-target="about"    class="tab-left">About</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="home" class="content-init content-update">
            <h1>ホーム画面</h1>
            <p>ホーム画面</p>
            {% comment %} <div class="before-after-container">
                <img src="{% static 'image/before.png' %}" class="before-image" alt="Before">
                <div class="after-image" style="background-image: url('{% static 'image/after.png' %}');"></div>
                <input type="range" min="0" max="100" value="50" class="slider" id="beforeAfterSlider">
            </div> {% endcomment %}
        </section>

        <section id="upscale" class="content-init content-update">
            <h1>高画質化</h1>
            <p>高画質化</p>
            <div id="us_input_ddz" class="upscale-ddz">
                画像をドラッグ<br><br>またはクリックで画像選択</div>
            <button id="us_process_btn"     class="purple-btn" style="display:none;">高画質化</button>
            <button id="us_processing_btn"  class="gray-btn"   style="display:none;">処理中...</button>
            <button id="us_download_btn"    class="purple-btn" style="display:none;">ダウンロード</button>
            <button id="us_downloading_btn" class="gray-btn"   style="display:none;">ダウンロード中...</button>
            <button id="us_reset_btn"       class="purple-btn" style="display:none;">リセット</button>
        </section>
    
        <section id="removebg" class="content-init content-update">
            <h1>背景削除</h1>
            <p>背景削除</p>
            <div id="rb_input_ddz" class="removebg-ddz">
                画像をドラッグ<br><br>またはクリックで画像選択</div>
            <button id="rb_process_btn"     class="purple-btn" style="display:none;">背景削除</button>
            <button id="rb_processing_btn"  class="gray-btn"   style="display:none;">処理中...</button>
            <button id="rb_download_btn"    class="purple-btn" style="display:none;">ダウンロード</button>
            <button id="rb_downloading_btn" class="gray-btn"   style="display:none;">ダウンロード中...</button>
            <button id="rb_reset_btn"       class="purple-btn" style="display:none;">リセット</button>
        </section>
        
        <section id="about" class="content-init content-update">
            <h1>About</h1>
            <p>About</p>
        </section>
    </main>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>