/* ========================================== */

body, h1, p {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
}

/* ========================================== */

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

/* ========================================== */

.tab nav {
  display: flex;
  align-items: center;
}

.tab nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  font-size: 16px;
}

.tab nav:nth-child(2) {
  flex-grow: 1;
}

/* ========================================== */

.tab .tab-logo img {
  height: 40px;
  width: auto;
  padding: auto;
  cursor: pointer;
  margin-right: 20px;
}

/* ========================================== */

.tab .tab-left {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
}

.tab .tab-left:hover {
  background-color: #848484;
}

/* ========================================== */

.tab .tab-right {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
}

.tab .tab-right:hover {
  background-color: #848484;
}

/* ========================================== */

/* デフォルトでタブコンテンツを非表示 */
.content-init {
  display: none;
}

/* ========================================== */

.content-update {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
}

.content-update h {
  font-size: 2em;
  color: #333;
}

.content-update p {
  margin-bottom: 20px;
}

/* ========================================== */

.purple-btn {
  background-color: #5B3EBC;
  color: white;
  border: none;
  width: auto;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.purple-btn:hover {
  background-color: #4a31ad;
}

.gray-btn {
  background-color: #a5a4a7;
  color: white;
  border: none;
  width: auto;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.gray-btn:hover {
  background-color: #a1a0a4;
}

/* ========================================== */

.styletf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.styletf-ddz {
  width: 300px;
  height: 200px;
  border: 2px dashed #b8b8b8;
  border-radius: 5px;
  flex: 0 1 auto; 
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
  flex-basis: 30%;
}

.styletf-ddz:hover {
  border-color: #000000;
}

.styletf-preview {
  width: 300px;
  height: 200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.styletf-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* ========================================== */

.removebg-ddz {
  width: 400px;
  height: 200px;
  border: 2px dashed #b8b8b8;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
}

.removebg-ddz:hover {
  border-color: #000000;
}

/* ========================================== */

.auth-form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #5c6bc0; /* 例えば、ダークブルーの色 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #3949ab; /* ホバー時は少し濃い色 */
}

.form-help {
  text-align: center;
  margin-top: 20px;
}

.form-help a {
  color: #5c6bc0;
  text-decoration: none;
}

.form-help a:hover {
  text-decoration: underline;
}

.user-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #5c6bc0;
  color: white;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  margin-right: 10px;
}

.username {
  vertical-align: middle;
}

/* ログアウトリンクに対するスタイリング */
a[href*='logout'] {
  background-color: #f00; /* ログアウトボタンの色 */
  color: #fff; /* テキストの色 */
  padding: 5px 10px; /* パディング */
  border-radius: 5px; /* 角丸 */
  text-decoration: none; /* アンダーラインを消す */
}