/* ========================================== */

body, h1, p {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
}

/* ========================================== */

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.tab nav {
  display: flex;
  align-items: center;
}

.tab nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  font-size: 16px;
}

.tab nav:nth-child(2) {
  flex-grow: 1;
}

.tab .tab-logo img {
  height: 40px;
  width: auto;
  padding: auto;
  cursor: pointer;
  margin-right: 20px;
}

.tab .tab-left,
.tab .tab-right {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
}

.tab .tab-left:hover,
.tab .tab-right:hover {
  background-color: #848484;
}

/* ========================================== */

/* デフォルトでタブコンテンツを非表示 */
.content-init {
  display: none;
}

/* ========================================== */

.content-update {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
}

.content-update h {
  font-size: 2em;
  color: #333;
}

.content-update p {
  margin-bottom: 20px;
}

/* ========================================== */

.upscale-container {
  margin-top: 50px;
  position: relative;
  width: 562px;
  height: 346px;
}

.removebg-container {
  margin-top: 100px;
  position: relative;
  width: 562px;
  height: 375px;
}

.before-image,
.after-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像がコンテナサイズに合わせて調整されるように */
}

.after-image {
  clip-path: inset(0 0 0 50%); /* 初期状態で画像の右半分だけを表示 */
  background-size: cover;
  background-position: center;
}

.slider {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 45%;
  transform: translateX(-50%);
  appearance: none;
  -webkit-appearance: none; /* ウェブキット用ベンダープレフィックス */
  -moz-appearance: none; /* モジラ用ベンダープレフィックス */
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5); /* カーソルの背景色を半透明に */
  cursor: pointer;
  border-radius: 50%; /* 円形に */
  border: 2px solid #000000; /* ボーダーを追加 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 立体感を出すための影を追加 */
  transition: transform 0.2s ease; /* 拡大時のアニメーション */
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5); /* カーソルの背景色を半透明に */
  cursor: pointer;
  border-radius: 50%; /* 円形に */
  border: 2px solid #000000; /* ボーダーを追加 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 立体感を出すための影を追加 */
  transition: transform 0.2s ease; /* 拡大時のアニメーション */
}

.slider::-webkit-slider-thumb:hover,
.slider::-moz-range-thumb:hover {
  transform: scale(1.5);
}

/* ========================================== */

.removebg-ddz,
.upscale-ddz {
  width: 600px; /* 幅を指定 */
  height: 300px; /* 高さを指定 */
  border: 2px dashed #b8b8b8; /* 点線のボーダー */
  border-radius: 5px; /* 角丸の半径 */
  margin: 20px auto; /* 上下にマージンを設定し、左右は中央揃え */
  display: flex; /* Flexboxを使用 */
  align-items: center; /* 中央揃え（垂直方向） */
  justify-content: center; /* 中央揃え（水平方向） */
  text-align: center; /* テキストを中央揃え */
  cursor: pointer; /* カーソルをポインターに */
  font-size: 1.1em; /* フォントサイズ */
  background-color: #f8f8f8; /* 背景色 */
  color: #b8b8b8; /* テキスト色 */
  transition: border-color 0.3s, color 0.3s; /* ホバー時のアニメーション効果 */
}

.removebg-ddz:hover,
.upscale-ddz:hover {
  border-color: #000000; /* ホバー時のボーダー色 */
  color: #000000; /* ホバー時のテキスト色 */
}

/* アイコンやテキストを追加する場合 */
.removebg-ddz:before,
.upscale-ddz:before {
  content: '📂'; /* 例としてフォルダの絵文字を追加 */
  font-size: 2em; /* アイコンサイズ */
  display: block;
  margin-bottom: 10px; /* アイコンとテキストの間のマージン */
}

/* ドラッグ&ドロップ時のスタイル変更 */
.removebg-ddz.dragover,
.upscale-ddz.dragover {
  border-color: #666666; /* ドラッグ時のボーダー色 */
  color: #666666; /* ドラッグ時のテキスト色 */
}

/* ========================================== */

.purple-btn,
.gray-btn {
  color: white;
  border: none;
  width: auto;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.purple-btn {
  background-color: #5B3EBC;
}

.purple-btn:hover {
  background-color: #4a31ad;
}

.gray-btn {
  background-color: #a5a4a7;
}

.gray-btn:hover {
  background-color: #a1a0a4;
}

/* ========================================== */